name: Build and Test
on: [push]

jobs:
  bat:
    name: Build and Test
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Perform npm tasks
        run: npm run ci

      - name: Perform 'setup-matlab'
        uses: matlab-actions/setup-matlab@v2
        with:
          products: |
            Simulink
            Simulink_Test
            Simulink_Coverage

      - name: Run MATLAB Tests
        uses: ./
        with:
          source-folder: sample
          startup-options: -logfile output.log

      - name: Verify option application
        run: |
          set -e
          grep "Running TheTruth" output.log
          grep "Done TheTruth" output.log
          grep "1 Passed" output.log
        
      - name: Generate Model
        uses: matlab-actions/run-command@v2
        with: 
            command: cd('sample'),createSampleModel('temp_model'),sltest.testmanager.createTestsFromModel('sltestfile', 'temp_model');

      - name: Set up diary for logging
        run: echo 'diary console.log' >> startup.m

      - name: Run run-test command
        uses: ./
        with:
            test-results-simulink-test: test-results/simulinktest.mldatx
            model-coverage-cobertura: test-results/modelcoverage.xml
            test-results-pdf: test-results/pdf-results.pdf
            code-coverage-cobertura: test-results/coverage.xml
            code-coverage-html: test-results/code-coverageHTML
            test-results-junit: test-results/results.xml
            mode-coverage-html: test-results/modelcoverage.html
            select-by-folder: sample
            strict: true
            use-parallel: true
            output-detail: Detailed
            logging-level: Detailed

      - name: Verify artifacts generation
        run: |
            (test -f test-results/simulinktest.mldatx) || (echo "File simulinktest.mldatx does not exist" && exit 1)
            (test -f test-results/modelcoverage.xml) || (echo "File modelcoverage.xml does not exist" && exit 1)
            (test -f test-results/pdf-results.pdf) || (echo "File pdf-results.pdf does not exist" && exit 1)
            grep -q "runner.addPlugin(FailOnWarningsPlugin())" console.log
            grep -q "runInParallel" console.log
            grep -q "'OutputDetail', 3" console.log
            grep -q "'LoggingLevel', 3" console.log
      
      - name: Upload test-results
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: test-results/