name: Build and Test
on: [push]

env:
  MATHWORKS_SKIP_ACTIVATION: true
  MATHWORKS_ACCOUNT: ${{ secrets.MATHWORKS_ACCOUNT }}
  MATHWORKS_TOKEN: ${{ secrets.MATHWORKS_TOKEN }}

jobs:
  bat:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "12"
      - name: Perform npm tasks
        run: npm run ci-pilot

      - name: Perform 'setup-matlab'
        uses: matlab-actions/setup-matlab@private-repo-pilot

      - name: Run MATLAB Tests
        uses: ./
        with:
          source-folder: sample
        
      - name: Generate Model
        uses: matlab-actions/run-command@private-repo-pilot
        with: 
            command: cd('sample'),createSampleModel('temp_model'),sltest.testmanager.createTestsFromModel('sltestfile', 'temp_model');

      - name: Run run-test command
        uses: ./
        with:
            test-results-simulink-test: test-results/simulinktest.mldatx
            model-coverage-cobertura: test-results/modelcoverage.xml
            test-results-pdf: test-results/pdf-results.pdf
            select-by-folder: sample

      - name: Verify artifacts generation
        run: |
            (test -f test-results/simulinktest.mldatx) || (echo "File simulinktest.mldatx does not exist" && exit 1)
            (test -f test-results/modelcoverage.xml) || (echo "File modelcoverage.xml does not exist" && exit 1)
            (test -f test-results/pdf-results.pdf) || (echo "File pdf-results.pdf does not exist" && exit 1)


